/Builds
/SpaceConqueror/Library
/SpaceConqueror/.idea
/SpaceConqueror/Logs
/SpaceConqueror/obj
/SpaceConqueror/Temp
/SpaceConqueror/UserSettings
/SpaceConqueror/Assembly-CSharp.csproj
/SpaceConqueror/Assembly-CSharp-Editor.csproj
/SpaceConqueror/SpaceConqueror.sln
/SpaceConqueror/.vsconfig
/SpaceConqueror/.vs
